<ul>
  <li>last {{this.list.length*25}} comments</li>
  <li *ngIf="startCalculating">top 10 subreddits
    <ul>
      <li *ngFor="let subredditObj of this.getTop10Subs()">
        {{ subredditObj.subreddit }} : {{this.formatDate(subredditObj.lastPosted)}}
      </li>
    </ul>
  </li>
</ul>



<li *ngIf="startCalculating">last 10 comments
  <ul>
    <li *ngFor="let commentObj of this.getLast10Comments()">
      <a [href]="'https://www.reddit.com/'+commentObj.url" target="_blank"> link </a> : {{commentObj.subreddit}}
      <div>
        {{commentObj.comment}}
      </div>
    </li>
  </ul>
</li>
