<div class="alert-box">
  <div class="modal-header">
    <h4 class="modal-title">Please Authenticate with Reddit</h4>
  </div>
  <div class="modal-body">
    <a href="{{this.authUrl}}">Click here to login with reddit</a>
  </div>
  <div class="modal-footer">
    We need temporary (1 hour) access to you username so we can make this search on your behalf.
  </div>
</div>
