<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item {{isActive('/')}}">
      <a routerLink="" routerLinkActive="active">home</a>
    </li>
    <li class="nav-item {{isActive('/about')}}">
      <a routerLink="about" routerLinkActive="active">about</a>
    </li>
  </ul>
</nav>
