<div class="mainContent">
  <div class="container center-block">
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="form-group">
          <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" >
            <div class="form-group">
              <input required placeholder="Enter a username:" [disabled]="!isAuth()"
                     type="text" class="form-control" id="userName" name="userName" [(ngModel)]="user.userName">
            </div>
            <button type="submit" class="btn btn-default biggerButton" [disabled]="!form.valid"  >Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
