.biggerButton{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mainContent {
  margin-left: auto;
  margin-right: auto;
  top:40%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
